@font-face {
    font-family: 'MatrixType';
    src: url('./assets/MatrixType Display/MatrixTypeDisplay-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'MatrixType';
    src: url('./assets/MatrixType Display/MatrixTypeDisplay-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

html, body {
    height: 100%;
}

body{
    margin: 0;
    background: linear-gradient(80deg,rgba(41, 56, 79, 1) 0%, rgba(33, 28, 36, 1) 100%);
}

#flag{
    z-index: 100;
    width: 10rem;
    margin-top: 1rem;
    position: absolute;
}

#radio{
    z-index: 5;
    width: 60vw;
    image-rendering: pixelated;
    position: absolute;

    left: 50%;
    transform: translate(-50%);

    pointer-events: none;

    transition: width 0.2s ease-out, margin-top 0.2s ease-out;
}

#screen{
    z-index: 0;
    background-color: #A8C64E;
    width: 38vw;
    height: 32vw;
    position: absolute;
    left: 50%;
    transform: translate(-51%);
    top: 20vw;
    font-family: 'MatrixType', monospace;
    display: inline-block;
    transition: width 0.2s ease-out, height 0.2s ease-out, top 0.2s ease-out;
    overflow: scroll;
}

#a{
    display: flex;
    text-align: center;
    column-gap: 1vw;
    padding: 1vw
}

#frequency-logo{
    width: 20vw;
    margin-top: 0;
    margin-left: 1vw;
}

#subtitle{
    margin: 0;
    font-size: 1.3rem;
    color: #3c412c;
}

#ys-scroll{
    width: 100%;
    overflow: hidden;
    font-size: 1.2vw;
    color: #3c412c;
    position: relative;
    white-space: nowrap;
    margin-top: 2vw;
}

#ys-scroll span, #ws-scroll span{
    display: inline-block;
    position: relative
}

#ws-scroll{
    width: 100%;
    overflow:hidden;
    font-size: 1.2vw;
    color: #3c412c;
    position: relative;
    white-space: nowrap;
    display: block;
    margin-top: 0.5vw;
}

#tune-in{
    all: unset;
    margin-top: 3vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    cursor: crosshair;
    border: 2px solid #3c412c;
    padding: 1vw 2vw
}

#tune-in:hover{
    background-color: #3c412c;
    color: #a8c64e
}

#tune-in:active{
    background-color: #a8c64e;
    color: #3c412c;
    cursor: help;
}

#radio.expanded{
    width: 165vw;
    margin-top: -80vw;
}

@keyframes screenRefresh{
    0% {background-color: #3c412c;}
    5% {background-color: #3c412c;}
    90% {background-color: #a8c64e;}
    100% {background-color: #a8c64e;}
}

#screen.animate{
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: #3c412c;
    animation: screenRefresh 0.2s forwards;
}

.crt::before{
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}
@keyframes flicker {
    0% {
        opacity: 0.27861;
    }
    5% {
        opacity: 0.34769;
    }
    10% {
        opacity: 0.23604;
    }
    15% {
        opacity: 0.90626;
    }
    20% {
        opacity: 0.18128;
    }
    25% {
        opacity: 0.83891;
    }
    30% {
        opacity: 0.65583;
    }
    35% {
        opacity: 0.67807;
    }
    40% {
        opacity: 0.26559;
    }
    45% {
        opacity: 0.84693;
    }
    50% {
        opacity: 0.96019;
    }
    55% {
        opacity: 0.08594;
    }
    60% {
        opacity: 0.20313;
    }
    65% {
        opacity: 0.71988;
    }
    70% {
        opacity: 0.53455;
    }
    75% {
        opacity: 0.37288;
    }
    80% {
        opacity: 0.71428;
    }
    85% {
        opacity: 0.70419;
    }
    90% {
        opacity: 0.7003;
    }
    95% {
        opacity: 0.36108;
    }
    100% {
        opacity: 0.24387;
    }
}

.crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}

.crt{
    animation: infinite
}

#mainContainer{
    display: none;
    transition: opacity 0.3s ease-out;
    justify-content: center;
    flex-direction: row;
}

#main1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 8rem;
}

.test{
    /*border: 1px solid black;*/
}

#title{
    width: 70vw;
}

#icon{
    height: 15vh
}

#sidebar{
    margin-top: 8rem;
    height: 80vh;
    width: 15vw
}

button{
    cursor: crosshair;
    border: 2px solid #3c412c;
    padding: 1vw 2vw;
    background-color: #a8c64e;
    font-size: 3vh;
    width: 13vw;
    margin-bottom: 3vh;
    font-family: 'MatrixType', monospace;
}

button:hover{
    background-color: #3c412c;
    color: #a8c64e
}

button:active{
    background-color: #a8c64e;
    color: #3c412c;
    cursor: help;
}

#main2{
    height: 60vh;
    max-width: 60vw;
    margin-top: 1rem;
    overflow: scroll;
}

#email{
    all:unset;
    border: 1px solid #3c412c;
    /*height: 5vh;*/
    width: 30vw;
    margin-top: -3vh;
    padding: 1rem 2vw;
    font-size: 1.2rem;
}

#rsvp{
    width: auto;
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
}

#signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 15vh;
}

.highlighted{
    background-color: #3c412c;
    color: #a8c64e;
}

#emailVal{
    color: #3c412c;
    margin-left: 8vw;
}

.hidden{
    display: none;
}

#flicker{
    position: absolute;
    z-index: 5;
    background-color: whitesmoke;
    right: 2vw;
    top: 2vh;
    padding: 1rem;
    border-radius: 2rem;
    height: 2rem;
    box-shadow: 0 4px 6px -1px #303030;
    cursor: pointer;

}