html, body {
    height: 100%;
}

body{
    margin: 0;
    background: linear-gradient(80deg,rgba(41, 56, 79, 1) 0%, rgba(33, 28, 36, 1) 100%);
}

#flag{
    z-index: 100;
    width: 10rem;
    margin-top: 1rem;
    position: absolute;
}

#radio{
    width: 60vw;
    image-rendering: pixelated;
    position: absolute;

    left: 50%;
    transform: translate(-50%);

    pointer-events: none;
}

#screen{
    background-color: darkolivegreen;
    width: 38vw;
    height: 15vw;
    position: absolute;
    left: 50%;
    transform: translate(-51%);
    top: 17rem;
}